extends layout.jade

block header
    h1 O Stowarzyszeniu

block content
    h2 Zarząd
    ul
        li dr Ryszard Czyszkiewicz - Przewodniczący
        li mgr Paweł Szklarski - Wiceprzewodniczący
        li mgr Jonna Pośpiech - Skarbnik
    h2 Komisja Rewizyjna
    ul
        li dr Włodzimierz Durka - Przewodniczący
        li dr Albert Terelak - Członek
        li dr Regina Thurow - Członek
