extends ./layout.jade

block header
    h1 Kontakt

block content
    h2 Szczecińskie Towarzystwo Socjologiczne
    p KRS Nr 0000449964
    h3 Dane teleadresowe
    p ul. 5-go Lipca 5/8<br />70-375 Szczecin
    p tel.: 508275538, 512534408<br /> e-mail:
        a(href="mailto:sts_edu@wp.pl") sts_edu@wp.pl
    h3 Konto bankowe
    p
    | Bank: BGŻ <br />
    | IBAN: PL02203000451110000002650400.
