html(xmlns='http://www.w3.org/1999/xhtml', lang='pl')
head
    link(href='/css/all.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/css/plugins.css', media='screen', rel='stylesheet', type='text/css')
    title Szczecińskie Towarzystwo Socjologiczne
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='Content-Language', content='pl')
    meta(name='language', content='pl')
    meta(name='description', content='Oferujemy tanie noclegi, kwatery pracownicze koło Konina. Pokoje jedno, dwu, trzy lub cztero osobowe. Telewizja, internet, WiFi, ogród i kuchnia do wyłącznej dyspozycji gości. Cena noclegu 20 zł za osobę.')
    meta(name='keywords', content='noclegi, Konin, kwatery, pracownicze, pensjonat, hotel, Brzeńno, autostrada, motel, agroturystyka, ogród, dom wypoczynkowy, wczasy, grill, swoboda, internet, wifi, telewizja')
    body
        .header
            .padder
                img(src="/assets/images/logo.png", alt="Szczecińskie Towarzystwo Socjologiczne")
                ul.menu
                    li
                        a(href="/kontakt") Kontakt
                    li
                        a(href="/publikacje") Publikacje
                    li
                        a(href="/raporty-i-ekspertyzy") Raporty i ekspertyzy
                    //li
                    //    a(href="/obszary-badawcze") Obszary Badawcze
                    //li
                    //    a(href="/") Komunikaty
                    li
                        a(href="/") O Stowarzyszeniu
                .clear
        .body
            .body-header
                .padder
                    block header
            .body-content
                .padder
                    block content
            .clear
        .footer
            .padder Wszelkie prawa zastrzeżone <b>Szczecińskie Towarzystwo Socjologiczne 2016</b>
        script(type='text/javascript', src='/js/plugins.js')
        script(type='text/javascript', src='/js/all.js')
