extends layout.jade

block header
    h1 Publikacje

block content
    ul
    //each publication in publications
    //    .publication
    //        .cover(style="background-image: url('" + publication.cover + "')")
            //h2= publication.title
            //p= publication.description
    each cover in covers
        .publication
            .cover(style="background-image: url('/covers/" + cover + "')")
